
body{
	font-family: Tahoma, Arial, serif;
	margin: 0;
}
#canvas {
	border: 4px solid #666;
	margin: 20px 30px;
	width: 800px;
	height: 500px;
	position: relative;
	opacity: 1;
	-webkit-transition: opacity 1s ease;
}

#canvas .vertex {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background: #669;
	-webkit-transition: 0.5s ease top, 0.5s ease left;
}

#canvas .edge {
	position: absolute;
	width: 100px;
	height: 1px;
	-webkit-transition: 0.5s ease all;
	background: #558;
}

.loading {
	opacity: 0.2 !important;
	cursor: not-allowed;
}

h1{
	margin:0;
	padding: 10px 18px;
	background: #EEE;
}
h3{
	margin: 0;
	padding: 8px 18px;
	background: #F6F6F6;
}

#sidebar {
	position: fixed;
	top: 0;
	right: 0;
	width: 330px;
	background: #EEE;
}
#sidebar .block{
	margin: 26px;
	border: 1px solid #666;
	border-radius: 8px;
}
#sidebar .block h2{
	margin: 0;
	padding: 4px 10px;
	font-size: 17px;
	color: white;
	background: #666;
	text-transform: uppercase;
	text-align: center;
}
#sidebar .block>div{
	margin:8px;
	font-size: 11px;
	overflow: auto;
}
#sidebar .block>div span{
	padding: 0 4px;
	display: block;
	width: 170px;
	float: left;
}
#sidebar .block>div input{
	display: block;
	margin:auto;
	float: left;
	width: 70px;
}
#sidebar button{
	display: block;
	margin:5px auto;
	font-size: 20px;
	border: 1px solid #666;
	padding: 8px 16px;
	border-radius: 8px;
	cursor: pointer;
	background: #F6F6F6;
}
